// Typo
$main-font: 'Poppins', sans-serif;

// Colors
$purple-darken: #21013b;
$purple-lighten: #421059;
$green-comp: #105941;
$gray-darken: #464646;
$gray-light: #757575;


// Screen's sizes
$small-phone: 360px;
$phone: 480px;
$tablet: 768px;
$small-desktop: 992px;
$desktop: 1300px;
$large-desktop: 1600px;
