@use '../base/variables' as var;


.blog {
    .latest {
        width: min(100%, 100rem);
        .blog-card{
            width: min(100%, 33rem);
            
            .blog-card-img {
                width: min(95%, 32rem);
                margin: 0 auto;
                img {
                    object-fit: cover;
                    border-radius: 8px;
                    aspect-ratio: 16 / 9;
                }
            }
            
            .blog-card-body {
                margin: 0 auto;
                width: min(90%, 27rem);
                height: 14rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                h4 {
                    color: var.$green-comp;
                    font-size: 1rem;
                    i{
                        color: var.$gray-light
                    }
                }
                h3 {
                    color: var.$gray-darken;
                    font-size: 2rem;
                }
                .actions {
                    align-self: flex-end;
                }
            }
        }
    }


}