@use '../base/variables' as var;


.commitment {
    padding: 7rem 1rem;
    background-color: #fff;
    .com-content {

        h3 {
            font-size: 1.4rem;
            font-weight: 600;
            color: var.$green-comp
        }
        h2 {
            // text-align: center;
            font-weight: 700;
            font-size: 3.6rem;
            color: var.$purple-lighten;
            margin-bottom: 1.5rem;
        }

        i {
            color: var.$purple-lighten;
            font-size: 4rem;
        }
    }


}
