@use '../base/variables' as var;
@use '../base/mixins' as mix;


.features {
    background-color: var.$purple-darken;

    .grid {
        justify-content: center;
        .card.custom-card {
            width: min(90%, 24rem);
            height: 9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            row-gap: 1.2rem;
            color: var.$purple-lighten;
            padding: 1rem 1.6rem;
            margin: 1.5rem auto;
            .card-icon {
                i {
                    color: inherit;
                    font-size: 3.2rem;
                }
            }
            .card-title {
                margin: 0;
                h2 {
                    font-size: 1.6rem;
                    margin:0 0 0 1.5rem ;
                }
            }
        }
    }
}