@use '../base/variables' as var;
@use '../base/mixins' as mix;


.features {
    background-color: var.$purple-darken;

    .grid {
        justify-content: center;
        .card.custom-card {
            width: min(75%, 30rem);
            height: 16rem;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: var.$purple-lighten;
            padding: 1rem;
            margin: 1.5rem auto;
            .card-icon {
                i {
                    color: inherit;
                    font-size: 3.2rem;
                    margin-bottom: 1.5rem;
                }
            }
            .card-title {
                h2 {
                    font-size: 1.6rem;
                }
            }
        }
    }
}